$primary-color: white;
$font-stack: Helvetica, sans-serif;

#main-header{
    display: flex;
    background-color:#2B60DE;
    height: 75px;
    
    #Codeial-header{
        font: 100% $font-stack;
        color: $primary-color;
        margin-left: 15px;
    }

    #link-header{

        margin-left: 70%;
        ul{
            li{
                
                display:inline-flex;
                flex-direction: row-reverse;
                a{
                    font: 100% $font-stack;
                    color: $primary-color;
                    padding: 10px;
                }
            }
        }
    }
}